{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Создание статьи</h1>

    {% if error %}
        <div>{{ error }}</div>
    {% endif %}

    <form method="post">
        <div>
            <label>
                Название статьи:
                <input type="text" name="title" maxlength="50" required>
            </label>
        </div>

        <div>
            <label>
                Текст статьи:
                <textarea name="article_text" rows="10" required></textarea>
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="is_favorite">
                Добавить в избранное
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="is_public">
                Сделать публичной
            </label>
        </div>

        <div>
            <button type="submit">Готово</button>
        </div>
    </form>
{% endblock %}